<h1> Titanics Dataset Predictions </h1>
<h2> Jose M. Serra Jr. </h2>
<p> In this project I will be conducting a deep learning excercise where I will be using a deep learning neural network to predict the people that will be saved on the Titanic from the Knowledge Titanic Dataset.

In [40]:
import os
source = r'C:\Users\joses\source\repos\Kaggle_Titanic_Artifical_Intelligence'
os.chdir(source)

In [41]:
!echo %cd%

C:\Users\joses\source\repos\Kaggle_Titanic_Artifical_Intelligence

In [42]:
import matplotlib.pyplot as mplplt
import numpy as np
import pandas as pd
from scipy.stats import reciprocal
import tensorflow as tf
import tensorflow.keras as keras
from tensorflow.keras.callbacks import *
from tensorflow.keras.layers import *
from tensorflow.keras.metrics import *
from tensorflow.keras.models import *
from tensorflow.keras.optimizers import *
from tensorflow.keras.optimizers.schedules import *
import tensorflow.keras.callbacks as tkc
from tensorflow.keras.wrappers.scikit_learn import KerasClassifier
from sklearn.compose import make_column_transformer, ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder, LabelEncoder
from sklearn.utils import resample

In this particular excercise we will be using TensorFlow mainly, and Scikit-Learn for preprocessing. We will being by using Pandas to read in the data.

In [333]:
file1_train, file2_test = pd.read_csv(r"train.csv", delimiter=","),\
pd.read_csv(r"test.csv", delimiter= ",")

In [334]:
def func(df):
  return pd.concat([df.head(),df.tail()])

In [335]:
func(file1_train)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [336]:
func(file2_test)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

<p> Now I am going to encode the Sex column into a binary 1s, and 0s output Sex_Binary column.</p>

In [337]:
X, y = file1_train.drop("Survived", axis=1), file1_train["Survived"]

In [338]:
objs = X.select_dtypes(["object"])
num  = X.select_dtypes(["number"])

In [339]:
objs.isnull().sum().head()

Name          0
Sex           0
Ticket        0
Cabin       687
Embarked      2
dtype: int64

In [340]:
num.isnull().sum().head()

PassengerId      0
Pclass           0
Age            177
SibSp            0
Parch            0
dtype: int64

In [341]:
def func_K1(index_arr):
  return 10 if index_arr == 1 else ( 5 if index_arr == 2 else 0)

In [342]:
Target = file2_test.PassengerId

In [343]:
X.PassengerId = X.PassengerId.apply(func=func_K1)

In [344]:
file2_test.PassengerId = file2_test.PassengerId.apply(func=func_K1)

In [345]:
X, file2_test = X.drop('PassengerId', axis=1), file2_test.drop('PassengerId',axis=1)

In [346]:
num  = X.select_dtypes(["number"])

In [347]:
num.columns

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [348]:
def func_K2(K):
  a = {"G": 0, "F":5, "E": 10,
       "D": 15, "C":20, "B":25,
       "A":30, "T":40}
  return a.get(K)

In [349]:
X.Cabin = X.Cabin.fillna("C").apply(lambda x: x[0]).apply(func=func_K2).astype("int32")

In [350]:
file2_test.Cabin = file2_test.Cabin.fillna("C").apply(lambda x: x[0]).apply(func=func_K2).astype("int32")

In [351]:
objs = X.select_dtypes(["object"])
num  = X.select_dtypes(["number"])

In [352]:
num.columns

Index(['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin'], dtype='object')

In [353]:
numerical_features = num.columns
numerical_pipeline = Pipeline(
    steps=[
            ("imputer", SimpleImputer(strategy = 'mean')),
            ("scaler", StandardScaler())
])

In [354]:
category_counts = X.Name.apply(func=lambda x: x.split(' ')[1]).value_counts()
category_weights = {category: count for category, count in category_counts.items()}

# Map the weights to the original DataFrame
series1 = X.Name.apply(func=lambda x: x.split(' ')[1]).map(category_weights)

# Normalize the weights based on the number of rows
total_rows = len(X)
X['Normalized_Weight'] = series1 / total_rows

In [355]:
X = X.drop('Name', axis=1)

In [356]:
num  = X.select_dtypes(["number"])

In [357]:
num.isnull().sum().head()

Pclass      0
Age       177
SibSp       0
Parch       0
Fare        0
dtype: int64

In [358]:
for i in range(len(objs.columns)):
    print(objs.columns[i], objs.iloc[:,i].value_counts().unique())

Name [1]
Sex [577 314]
Ticket [7 6 5 4 3 2 1]
Embarked [644 168  77]

In [359]:
binary = ["Sex"]
binary_pipeline = Pipeline(steps=[("binary", OneHotEncoder())])

In [360]:
#cat1 = ["Ticket", "Cabin", "Embarked"]
cat1 = ["Embarked"]
catergorical_pipeline = Pipeline(steps=[("imputer", SimpleImputer(strategy = 'most_frequent')), ("ordinal_encoder", OrdinalEncoder()),("scaler", StandardScaler())])

In [361]:
data_preprocessor = ColumnTransformer( [('numerical', numerical_pipeline, numerical_features),
                                      ('binary', binary_pipeline, binary),
                                      ('categorical', catergorical_pipeline, cat1)])

In [362]:
func(X)

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Normalized_Weight
0,3,male,22.0,1,0,A/5 21171,7.2500,20,S,0.563412
1,1,female,38.0,1,0,PC 17599,71.2833,20,C,0.135802
2,3,female,26.0,0,0,STON/O2. 3101282,7.9250,20,S,0.200898
3,1,female,35.0,1,0,113803,53.1000,20,S,0.135802
4,3,male,35.0,0,0,373450,8.0500,20,S,0.563412
886,2,male,27.0,0,0,211536,13.0000,20,S,0.006734
887,1,female,19.0,0,0,112053,30.0000,25,S,0.200898
888,3,female,NaN,1,2,W./C. 6607,23.4500,20,S,0.200898
889,1,male,26.0,0,0,111369,30.0000,20,C,0.563412
890,3,male,32.0,0,0,370376,7.7500,20,Q,0.563412

In [363]:
beta = X.columns.to_list()
beta.remove('Ticket')

In [364]:
X = Pipeline(steps=[('processing',data_preprocessor)]).fit_transform(X[beta])

In [365]:
class myCallback(keras.callbacks.Callback):
        # Define the correct function signature for on_epoch_end
        def on_epoch_end(self, epoch, logs=None):
            if logs.get('accuracy') is not None and logs.get('accuracy') > 0.92:
                print("\nReached 92% accuracy so cancelling training!")

                # Stop training once the above condition is met
                self.model.stop_training = True

In [366]:
checkpoint = [ModelCheckpoint("Titanic.h5", monitor='accuracy', verbose=1, save_best_only=True, save_weights_only=False, mode='auto', save_freq='epoch')]
early = EarlyStopping(monitor='accuracy', min_delta=0, patience=10, verbose=1, mode='auto')

In [382]:
def base_model1():
    input_dim = X.shape[1]
    model =Sequential([
    Dense(32 , input_dim = input_dim, activation= "linear"),
    Dense(16, activation= "relu"),
    Dense(1,activation = "sigmoid"),
    ])
    model.compile(loss='binary_crossentropy',optimizer=tf.keras.optimizers.Nadam(), metrics=["accuracy"])
    hist = model.fit(X,y, epochs = 100, callbacks=[checkpoint,early,myCallback()])
    return hist, model

In [383]:
hist, model = base_model1()

Epoch 1/100
25/28 [=========================>....] - ETA: 0s - loss: 0.6145 - accuracy: 0.7163
Epoch 1: accuracy did not improve from 0.84736
28/28 [==============================] - 2s 9ms/step - loss: 0.6085 - accuracy: 0.7194
Epoch 2/100
22/28 [======================>.......] - ETA: 0s - loss: 0.5376 - accuracy: 0.7642
Epoch 2: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 7ms/step - loss: 0.5248 - accuracy: 0.7722
Epoch 3/100
28/28 [==============================] - ETA: 0s - loss: 0.4774 - accuracy: 0.7980
Epoch 3: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4774 - accuracy: 0.7980
Epoch 4/100
26/28 [==========================>...] - ETA: 0s - loss: 0.4506 - accuracy: 0.8125
Epoch 4: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4517 - accuracy: 0.8103
Epoch 5/100
22/28 [======================>.......] - ETA: 0s - loss: 0.4536 - accuracy: 0.8040
Epoch 5: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4381 - accuracy: 0.8103
Epoch 6/100
21/28 [=====================>........] - ETA: 0s - loss: 0.4359 - accuracy: 0.8095
Epoch 6: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4313 - accuracy: 0.8114
Epoch 7/100
28/28 [==============================] - ETA: 0s - loss: 0.4265 - accuracy: 0.8159
Epoch 7: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4265 - accuracy: 0.8159
Epoch 8/100
27/28 [===========================>..] - ETA: 0s - loss: 0.4223 - accuracy: 0.8183
Epoch 8: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 9ms/step - loss: 0.4231 - accuracy: 0.8182
Epoch 9/100
25/28 [=========================>....] - ETA: 0s - loss: 0.4196 - accuracy: 0.8163
Epoch 9: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 9ms/step - loss: 0.4205 - accuracy: 0.8182
Epoch 10/100
24/28 [========================>.....] - ETA: 0s - loss: 0.4025 - accuracy: 0.8333
Epoch 10: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 7ms/step - loss: 0.4175 - accuracy: 0.8238
Epoch 11/100
22/28 [======================>.......] - ETA: 0s - loss: 0.4192 - accuracy: 0.8182
Epoch 11: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4150 - accuracy: 0.8227
Epoch 12/100
24/28 [========================>.....] - ETA: 0s - loss: 0.4203 - accuracy: 0.8164
Epoch 12: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4130 - accuracy: 0.8215
Epoch 13/100
23/28 [=======================>......] - ETA: 0s - loss: 0.4016 - accuracy: 0.8356
Epoch 13: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 7ms/step - loss: 0.4106 - accuracy: 0.8238
Epoch 14/100
22/28 [======================>.......] - ETA: 0s - loss: 0.4082 - accuracy: 0.8253
Epoch 14: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4090 - accuracy: 0.8283
Epoch 15/100
23/28 [=======================>......] - ETA: 0s - loss: 0.4000 - accuracy: 0.8247
Epoch 15: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 7ms/step - loss: 0.4066 - accuracy: 0.8260
Epoch 16/100
28/28 [==============================] - ETA: 0s - loss: 0.4050 - accuracy: 0.8305
Epoch 16: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4050 - accuracy: 0.8305
Epoch 17/100
23/28 [=======================>......] - ETA: 0s - loss: 0.4147 - accuracy: 0.8261
Epoch 17: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4036 - accuracy: 0.8328
Epoch 18/100
23/28 [=======================>......] - ETA: 0s - loss: 0.4119 - accuracy: 0.8274
Epoch 18: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4025 - accuracy: 0.8305
Epoch 19/100
28/28 [==============================] - ETA: 0s - loss: 0.4010 - accuracy: 0.8305
Epoch 19: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.4010 - accuracy: 0.8305
Epoch 20/100
26/28 [==========================>...] - ETA: 0s - loss: 0.3944 - accuracy: 0.8341
Epoch 20: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 9ms/step - loss: 0.3994 - accuracy: 0.8316
Epoch 21/100
22/28 [======================>.......] - ETA: 0s - loss: 0.3999 - accuracy: 0.8381
Epoch 21: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.3998 - accuracy: 0.8339
Epoch 22/100
23/28 [=======================>......] - ETA: 0s - loss: 0.3945 - accuracy: 0.8356
Epoch 22: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.3979 - accuracy: 0.8305
Epoch 23/100
22/28 [======================>.......] - ETA: 0s - loss: 0.3760 - accuracy: 0.8509
Epoch 23: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.3971 - accuracy: 0.8384
Epoch 24/100
23/28 [=======================>......] - ETA: 0s - loss: 0.3974 - accuracy: 0.8438
Epoch 24: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.3960 - accuracy: 0.8395
Epoch 25/100
28/28 [==============================] - ETA: 0s - loss: 0.3949 - accuracy: 0.8395
Epoch 25: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.3949 - accuracy: 0.8395
Epoch 26/100
23/28 [=======================>......] - ETA: 0s - loss: 0.4078 - accuracy: 0.8315
Epoch 26: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 7ms/step - loss: 0.3943 - accuracy: 0.8373
Epoch 27/100
26/28 [==========================>...] - ETA: 0s - loss: 0.3994 - accuracy: 0.8413
Epoch 27: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 7ms/step - loss: 0.3939 - accuracy: 0.8440
Epoch 28/100
23/28 [=======================>......] - ETA: 0s - loss: 0.3899 - accuracy: 0.8492
Epoch 28: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.3926 - accuracy: 0.8440
Epoch 29/100
28/28 [==============================] - ETA: 0s - loss: 0.3918 - accuracy: 0.8429
Epoch 29: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 8ms/step - loss: 0.3918 - accuracy: 0.8429
Epoch 30/100
25/28 [=========================>....] - ETA: 0s - loss: 0.3974 - accuracy: 0.8325
Epoch 30: accuracy did not improve from 0.84736
28/28 [==============================] - 0s 7ms/step - loss: 0.3913 - accuracy: 0.8373
Epoch 31/100
23/28 [=======================>......] - ETA: 0s - loss: 0.4003 - accuracy: 0.8424
Epoch 31: accuracy improved from 0.84736 to 0.84848, saving model to Titanic.h5
28/28 [==============================] - 0s 8ms/step - loss: 0.3911 - accuracy: 0.8485
Epoch 32/100
28/28 [==============================] - ETA: 0s - loss: 0.3904 - accuracy: 0.8395
Epoch 32: accuracy did not improve from 0.84848
28/28 [==============================] - 0s 8ms/step - loss: 0.3904 - accuracy: 0.8395
Epoch 33/100
23/28 [=======================>......] - ETA: 0s - loss: 0.3827 - accuracy: 0.8410
Epoch 33: accuracy did not improve from 0.84848
28/28 [==============================] - 0s 7ms/step - loss: 0.3891 - accuracy: 0.8373
Epoch 34/100
21/28 [=====================>........] - ETA: 0s - loss: 0.4012 - accuracy: 0.8348
Epoch 34: accuracy did not improve from 0.84848
28/28 [==============================] - 0s 8ms/step - loss: 0.3892 - accuracy: 0.8384
Epoch 35/100
24/28 [========================>.....] - ETA: 0s - loss: 0.3992 - accuracy: 0.8385
Epoch 35: accuracy did not improve from 0.84848
28/28 [==============================] - 0s 8ms/step - loss: 0.3888 - accuracy: 0.8429
Epoch 36/100
22/28 [======================>.......] - ETA: 0s - loss: 0.3733 - accuracy: 0.8580
Epoch 36: accuracy did not improve from 0.84848
28/28 [==============================] - 0s 8ms/step - loss: 0.3882 - accuracy: 0.8440
Epoch 37/100
28/28 [==============================] - ETA: 0s - loss: 0.3873 - accuracy: 0.8384
Epoch 37: accuracy did not improve from 0.84848
28/28 [==============================] - 0s 8ms/step - loss: 0.3873 - accuracy: 0.8384
Epoch 38/100
25/28 [=========================>....] - ETA: 0s - loss: 0.3882 - accuracy: 0.8425
Epoch 38: accuracy did not improve from 0.84848
28/28 [==============================] - 0s 9ms/step - loss: 0.3863 - accuracy: 0.8418
Epoch 39/100
23/28 [=======================>......] - ETA: 0s - loss: 0.3791 - accuracy: 0.8465
Epoch 39: accuracy did not improve from 0.84848
28/28 [==============================] - 0s 7ms/step - loss: 0.3854 - accuracy: 0.8384
Epoch 40/100
23/28 [=======================>......] - ETA: 0s - loss: 0.3973 - accuracy: 0.8315
Epoch 40: accuracy did not improve from 0.84848
28/28 [==============================] - 0s 7ms/step - loss: 0.3855 - accuracy: 0.8418
Epoch 41/100
24/28 [========================>.....] - ETA: 0s - loss: 0.3947 - accuracy: 0.8333
Epoch 41: accuracy did not improve from 0.84848
28/28 [==============================] - 0s 7ms/step - loss: 0.3853 - accuracy: 0.8418
Epoch 41: early stopping

In [384]:
X_test = data_preprocessor.fit_transform(file2_test)

In [385]:
PassengerId = Target.to_list()

In [386]:
model.predict(X_test)

14/14 [==============================] - 0s 2ms/step

array([[1.14914104e-01],
       [3.58320177e-01],
       [7.83546716e-02],
       [1.14453994e-01],
       [4.00179684e-01],
       [2.31126428e-01],
       [5.90137601e-01],
       [1.62456825e-01],
       [7.15043426e-01],
       [4.30801250e-02],
       [1.01181194e-01],
       [1.97202265e-01],
       [9.89550292e-01],
       [3.88867557e-02],
       [9.68530238e-01],
       [9.52777743e-01],
       [1.02665469e-01],
       [2.66613156e-01],
       [4.08748269e-01],
       [5.66311717e-01],
       [3.73130232e-01],
       [5.71912646e-01],
       [9.79445994e-01],
       [5.63172102e-01],
       [8.73219907e-01],
       [2.01210212e-02],
       [9.88263965e-01],
       [2.47580454e-01],
       [1.88530535e-01],
       [7.25643039e-02],
       [5.71788773e-02],
       [8.61524791e-02],
       [2.03796506e-01],
       [2.07984135e-01],
       [5.43225408e-01],
       [3.14021707e-01],
       [4.78358090e-01],
       [4.96001303e-01],
       [1.24015607e-01],
       [2.18604028e-01],
       [1.93582833e-01],
       [4.70526457e-01],
       [6.74345866e-02],
       [8.76533687e-01],
       [9.77351487e-01],
       [1.20864257e-01],
       [3.02850783e-01],
       [1.32004321e-01],
       [9.65358377e-01],
       [3.97777289e-01],
       [4.78355527e-01],
       [1.65915370e-01],
       [8.21047843e-01],
       [7.74658740e-01],
       [1.40262827e-01],
       [2.67386902e-02],
       [8.60615522e-02],
       [3.39542031e-01],
       [6.72691017e-02],
       [9.61932123e-01],
       [1.82088017e-01],
       [7.83400014e-02],
       [1.68801412e-01],
       [5.98663628e-01],
       [6.20851457e-01],
       [8.79381955e-01],
       [6.40359879e-01],
       [1.98371410e-01],
       [3.13278884e-01],
       [5.00834823e-01],
       [5.93288481e-01],
       [1.38505533e-01],
       [4.80405033e-01],
       [5.75473070e-01],
       [9.56283987e-01],
       [2.89174885e-01],
       [1.01459868e-01],
       [9.65347469e-01],
       [8.11909661e-02],
       [5.93288481e-01],
       [7.23907351e-01],
       [2.36551121e-01],
       [1.86097190e-01],
       [1.01181194e-01],
       [1.21144116e-01],
       [1.39134049e-01],
       [5.88517368e-01],
       [5.19682884e-01],
       [5.90481520e-01],
       [7.93617487e-01],
       [4.13756192e-01],
       [1.00995786e-01],
       [9.89311099e-01],
       [1.01459868e-01],
       [3.96254569e-01],
       [1.20593496e-01],
       [9.51261044e-01],
       [1.05709404e-01],
       [4.97019768e-01],
       [9.24428999e-02],
       [9.89864647e-01],
       [9.93949994e-02],
       [1.32004321e-01],
       [1.16625093e-01],
       [6.52123332e-01],
       [1.38935700e-01],
       [1.96377307e-01],
       [1.32004321e-01],
       [1.02581434e-01],
       [5.95206559e-01],
       [9.95283648e-02],
       [5.90520561e-01],
       [9.83607352e-01],
       [6.32710516e-01],
       [9.47317600e-01],
       [2.93860316e-01],
       [1.66598260e-01],
       [8.45265210e-01],
       [2.67863601e-01],
       [9.16418672e-01],
       [9.30822849e-01],
       [9.93568078e-02],
       [9.90742266e-01],
       [1.08097523e-01],
       [1.32004321e-01],
       [6.32045686e-01],
       [1.33154780e-01],
       [4.44365859e-01],
       [7.58594349e-02],
       [1.25192478e-01],
       [9.56655741e-02],
       [2.25616664e-01],
       [2.85104096e-01],
       [1.25022411e-01],
       [6.10907488e-02],
       [1.24774076e-01],
       [2.01572284e-01],
       [9.30858627e-02],
       [4.91019696e-01],
       [2.60927118e-02],
       [2.87333746e-02],
       [9.71038699e-01],
       [1.42266244e-01],
       [9.88310352e-02],
       [2.12910175e-01],
       [9.13388096e-03],
       [6.59245253e-01],
       [1.33715138e-01],
       [2.60875851e-01],
       [1.21878549e-01],
       [9.80551600e-01],
       [1.69886440e-01],
       [3.27278338e-02],
       [3.99810433e-01],
       [1.23080704e-02],
       [1.24162585e-01],
       [9.53975618e-01],
       [4.90507036e-01],
       [3.27345878e-01],
       [4.97391671e-01],
       [5.90461969e-01],
       [7.04757094e-01],
       [8.81740749e-01],
       [9.96834487e-02],
       [7.64089450e-02],
       [3.65728825e-01],
       [2.68128186e-01],
       [7.68322796e-02],
       [9.81290638e-01],
       [4.95036662e-01],
       [1.00602813e-01],
       [1.97468042e-01],
       [9.26359594e-02],
       [1.68374285e-01],
       [2.84683537e-02],
       [9.30940807e-01],
       [8.89055729e-01],
       [3.76864523e-01],
       [7.14099705e-01],
       [9.14843380e-01],
       [8.11909661e-02],
       [5.91910779e-01],
       [9.94246185e-01],
       [1.32004321e-01],
       [9.70867515e-01],
       [7.77727813e-02],
       [9.33048725e-01],
       [4.41583879e-02],
       [1.40420650e-03],
       [7.66311511e-02],
       [8.00266415e-02],
       [2.60949939e-01],
       [3.32364202e-01],
       [8.17255005e-02],
       [8.20731997e-01],
       [9.21224356e-02],
       [9.25843954e-01],
       [5.19228160e-01],
       [1.09308556e-01],
       [4.78488088e-01],
       [6.01544559e-01],
       [8.67070079e-01],
       [3.42379153e-01],
       [9.60732162e-01],
       [9.52007920e-02],
       [3.21902901e-01],
       [5.93184173e-01],
       [1.01075493e-01],
       [9.84211981e-01],
       [1.20782956e-01],
       [1.21828958e-01],
       [9.97750387e-02],
       [2.48049691e-01],
       [7.73561716e-01],
       [2.86028124e-02],
       [2.12856606e-01],
       [5.90657294e-01],
       [1.92342147e-01],
       [9.54612017e-01],
       [1.01459868e-01],
       [9.38303530e-01],
       [1.38835832e-01],
       [9.68923151e-01],
       [1.38313144e-01],
       [9.67722297e-01],
       [5.52964032e-01],
       [1.28836095e-01],
       [5.90481520e-01],
       [7.77003244e-02],
       [7.40821734e-02],
       [2.80418754e-01],
       [9.87095356e-01],
       [9.22780186e-02],
       [1.32267565e-01],
       [4.60306346e-01],
       [1.45110786e-01],
       [2.66238809e-01],
       [2.81347096e-01],
       [9.31632400e-01],
       [9.86804724e-01],
       [9.67110693e-01],
       [8.25123966e-01],
       [3.90588701e-01],
       [1.01181194e-01],
       [1.07117817e-01],
       [3.70628029e-01],
       [8.90501320e-01],
       [6.47389963e-02],
       [9.16418672e-01],
       [5.62287211e-01],
       [9.66606796e-01],
       [1.45248398e-01],
       [4.96628881e-01],
       [1.27813399e-01],
       [9.63706300e-02],
       [1.00602813e-01],
       [1.32004321e-01],
       [1.09556898e-01],
       [9.07235980e-01],
       [1.38285667e-01],
       [4.76080887e-02],
       [1.38423026e-01],
       [8.89969707e-01],
       [6.94377959e-01],
       [1.40861213e-01],
       [1.01181194e-01],
       [2.64454722e-01],
       [1.00602813e-01],
       [4.78358090e-01],
       [1.83661923e-01],
       [2.51502424e-01],
       [1.32004321e-01],
       [9.84554589e-01],
       [5.35380304e-01],
       [1.68374285e-01],
       [9.26924348e-01],
       [8.46567601e-02],
       [7.14089498e-02],
       [8.32792744e-02],
       [1.18180409e-01],
       [4.92557675e-01],
       [6.22123897e-01],
       [5.90481520e-01],
       [7.27026701e-01],
       [6.65482402e-01],
       [8.22235122e-02],
       [1.00096233e-01],
       [4.50306177e-01],
       [3.42010617e-01],
       [1.01459868e-01],
       [2.59128273e-01],
       [5.89081764e-01],
       [1.68374285e-01],
       [4.05144632e-01],
       [8.54555815e-02],
       [1.16835482e-01],
       [9.78353143e-01],
       [7.25643039e-02],
       [2.59396791e-01],
       [1.05564810e-01],
       [9.52251703e-02],
       [2.56653190e-01],
       [1.02151752e-01],
       [1.26454860e-01],
       [5.90481520e-01],
       [9.79557931e-01],
       [2.61038333e-01],
       [7.50185430e-01],
       [3.39908957e-01],
       [3.72607678e-01],
       [1.70545667e-01],
       [2.53873706e-01],
       [1.00648955e-01],
       [5.94327748e-01],
       [9.72043633e-01],
       [6.55294359e-01],
       [4.45049673e-01],
       [1.51804253e-01],
       [1.12912081e-01],
       [9.80407745e-02],
       [1.16625093e-01],
       [4.35779303e-01],
       [4.32416260e-01],
       [2.50395596e-01],
       [9.62028325e-01],
       [1.27298161e-01],
       [9.02956545e-01],
       [2.53394753e-01],
       [9.04939696e-02],
       [1.29478529e-01],
       [8.08630705e-01],
       [3.02128702e-01],
       [1.68374285e-01],
       [5.90544105e-01],
       [1.12988770e-01],
       [2.62012988e-01],
       [7.79462904e-02],
       [2.38849759e-01],
       [1.15632869e-01],
       [1.68374285e-01],
       [1.65520206e-01],
       [9.48960632e-02],
       [6.55445904e-02],
       [8.63776445e-01],
       [9.18292925e-02],
       [5.41007459e-01],
       [9.30858627e-02],
       [5.97874641e-01],
       [1.02913141e-01],
       [8.79158497e-01],
       [9.76862013e-01],
       [9.52007920e-02],
       [2.35181242e-01],
       [6.49390593e-02],
       [7.45959580e-01],
       [3.71093810e-01],
       [9.64539886e-01],
       [1.01157986e-01],
       [1.32004321e-01],
       [4.23173547e-01],
       [1.56575290e-04],
       [9.32237506e-01],
       [8.79158497e-01],
       [1.14453994e-01],
       [9.94019747e-01],
       [1.06282197e-01],
       [1.39134049e-01],
       [5.68290174e-01],
       [9.77065206e-01],
       [1.49023667e-01],
       [1.29415408e-01],
       [9.81989622e-01],
       [1.78595260e-01],
       [7.47679621e-02],
       [9.90253210e-01],
       [9.48117793e-01],
       [3.34390223e-01],
       [1.28351972e-01],
       [1.79513678e-01],
       [2.84389704e-02],
       [1.32004321e-01],
       [1.57988697e-01],
       [4.93680328e-01],
       [4.19816285e-01],
       [8.06427374e-02],
       [7.90242612e-01],
       [1.24634877e-01],
       [6.71560764e-02],
       [1.96239769e-01],
       [7.34787807e-02],
       [2.67982781e-01],
       [9.61975813e-01],
       [7.13116348e-01],
       [7.24959746e-02],
       [1.26231248e-02],
       [9.92936909e-01],
       [1.70942590e-01],
       [9.90757406e-01],
       [1.33125365e-01],
       [1.28858656e-01],
       [9.68753040e-01],
       [7.15647861e-02],
       [9.86646414e-01],
       [3.87212604e-01],
       [5.47155201e-01],
       [4.11343455e-01],
       [1.09010927e-01],
       [2.37232596e-01],
       [5.90422988e-01],
       [6.63049281e-01],
       [5.90481520e-01],
       [9.88269925e-01],
       [4.81746316e-01],
       [1.01459868e-01],
       [9.72793758e-01],
       [7.41866678e-02],
       [1.01459980e-01],
       [2.07111716e-01]], dtype=float32)

In [387]:
final_pred = (model.predict(X_test) > 0.5).astype("int32").flatten()

14/14 [==============================] - 0s 2ms/step

In [388]:
d = {"PassengerId":PassengerId, "Survived":final_pred}
pd.DataFrame(data=d,index=None, columns= ["PassengerId","Survived"]).to_csv("12172023.csv",index=False, header=1)